.cursor-pointer {
    cursor: pointer;
}
.safe-y-area {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
.safe-x-area {
    padding-right: constant(safe-area-inset-right);
    padding-right: env(safe-area-inset-right);
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
}
.safe-area {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    padding-right: constant(safe-area-inset-right);
    padding-right: env(safe-area-inset-right);
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
}
.markdown-body {
    .download-app-content {
        border-radius: 70px;
        background: linear-gradient(135deg, rgba(223, 242, 242, 20%) 0%, rgba(124, 205, 199, 20%) 100.1%);
    
        @media (width <= 600px) {
            i {
                margin-bottom: 20px;
            }  
        }
    }
    .about-us-introduce {
        flex-wrap: nowrap !important;
        margin-bottom: 10px !important;
    
        @media (width <= 960px) {
            flex-wrap: wrap !important;
            margin-bottom: 20px !important;
            .title {
                margin-bottom: 10px !important;
            }
        }
    }
}
